@import "settings";
@import "foundation";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption&display=swap');


body {
	padding-top: rem-calc(16px);

	a {
		color: #000;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	header {
		padding: 0 rem-calc(16px);

		h1, h2 {
			font-family: "PT Sans", sans-serif;
		}
		h1 {
			font-size: rem-calc(40px);
		}
		h2 {
			font-size: rem-calc(20px);
			margin-bottom: rem-calc(16px);
		}

		.fact-card {
			background-color: #ededed;
			border-radius: rem-calc(3px);
			padding: rem-calc(8px);
			margin-bottom: rem-calc(16px);

			div:last-of-type {
				padding-left: rem-calc(8px);

				@include breakpoint(large down) {
					padding-left: 0;
				}
			}

			dl {
				margin-bottom: 0;

				dt {
					border-bottom: 1px dashed #9d9d9c;
					color: #7f0e17;
					font-size: rem-calc(10px);
					text-transform: uppercase;

					&::after {
						content: ':';
					}
				}

				dd {
					font-size: rem-calc(14px);

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				dd + dt {
					margin-top: rem-calc(8px);
				}
			}
		}
		p {
			&.lead {
				color: #333;
				font-size: calc(16px);

				&.top {
					@include breakpoint(large-only) {
						padding-right: rem-calc(20px);
					}
				}

				span {
					font-weight: bold;
					color: #7f0e17;
				}
			}
		}
	}
}

main {
	h3 {
		font-size: rem-calc(20px);
		color: #7f0e17;
		font-weight: bold;
		text-align: center;

		background: rgb(238,238,238);
		background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);

		@include breakpoint(large only) {
			&:not(:nth-child(1)) {
				background: none;
			}
		}

		span {
			margin: rem-calc(16px);
			border-bottom: 1px dashed #9d9d9c;
			display: block;
			padding: rem-calc(8px) 0;
		}

	}
	.cv {

		ul {
			font-size: rem-calc(12px);
			margin-bottom: 0;

			li {
				list-style-type: none;
				h4 {
					margin: 0;
					padding: 0;
					font-size: rem-calc(14px);
					font-weight: bold;

					span {
						font-weight: normal;
						&::before {
							content: ' - ';
						}
					}
				}
			}
		}
		dl.grid-block {
			margin: 0 rem-calc(16px) rem-calc(32px) 0;

			dt {
				text-align: right;
				border-right: 2px solid #7f0e17;
				padding-right: rem-calc(8px);
				font-weight: normal;

				&.detail {
					font-size: rem-calc(12px);
					margin-bottom: 0;
				}
				&.last {
					margin-bottom: 0;
				}

			}
			dd {
				padding-left: rem-calc(8px);


				&:first-of-type h4 {
					padding-top: 0;
				}

				.rate-1,
				.rate-2,
				.rate-3,
				.rate-4,
				.rate-5 {
					border: 1px solid rgb(102,102,102);
					border-radius: rem-calc(3px);
					margin-top: rem-calc(8px);
					height: 12px;
					background: rgb(102,102,102);
					background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(238,238,238,1) 0%);
				}
				.rate-1 {
					background: linear-gradient(90deg, rgba(102,102,102,1) 20%, rgba(238,238,238,1) 20%);
				}
				.rate-2 {
					background: linear-gradient(90deg, rgba(102,102,102,1) 40%, rgba(238,238,238,1) 40%);
				}
				.rate-3 {
					background: linear-gradient(90deg, rgba(102,102,102,1) 60%, rgba(238,238,238,1) 60%);
				}
				.rate-4 {
					background: linear-gradient(90deg, rgba(102,102,102,1) 80%, rgba(238,238,238,1) 80%);
				}
				.rate-5 {
					background: linear-gradient(90deg, rgba(102,102,102,1) 110%, rgba(238,238,238,1) 110%);
				}

				&.detail {
					font-size: rem-calc(12px);
					margin-bottom: 0;

					h4 {
						margin: 0;
						padding: 0;
						font-size: rem-calc(14px);

						span {
							font-weight: normal;
							&::before {
								content: ' - ';
							}
						}
					}
				}

				&.last {
					margin-bottom: 0;
					p {
						padding-bottom: rem-calc(16px);
					}
				}

				h4 {
					font-size: rem-calc(16px);
					font-weight: bold;
					margin-bottom: 0;
					padding-top: rem-calc(8px);
				}
				h5 {
					font-size: rem-calc(14px);
					color: #666;
				}
				p {
					font-size: rem-calc(14px);
					margin-bottom: 0;
				}
			}

			dd + dt {
				margin-top: rem-calc(8px);

				&.detail {
					margin-top: 0;
				}
			}
		}
	}
}













