---
name: home
url: /
---

<div class="grid-container">
	<header>
		<div class="grid-block">
			<div class="small-12 medium-8">
				<h1>Ravn Heggerud</h1>
				<h2>Nysgjerrig full-stack utvikler</h2>
				<p class="lead top"><span>Jeg er en</span> erfaren nettentusiast som hopper hodestups ut i utfordringer i håp om å få lære noe nytt. Deler gjerne av kunnskapene mine til alle som ønsker og er like serviceinnstilt overfor medarbei-dere som jeg er overfor kunder.</p>
			</div>
			<div class="grid-block hide show-for-medium medium-4 fact-card align-justify">
				<div class="hide show-for-large medium-4">
					<img src="/assets/img/rc.jpg" />
				</div>
				<div class="medium-12 large-8">
					<dl>
						<dt>ADRESSE</dt>
						<dd>Welhavens gate 21 A, 0355 Oslo</dd>
						<dt>E-POST</dt>
						<dd><a href="mailto:jobb.heggerud@gmail.com">jobb.heggerud@gmail.com</a></dd>
						<dt>FØDT</dt>
						<dd>07.12.1978</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="grid-block">
			<div class="small-12 medium-6">
				<p class="lead"><span>Tidligere</span> har nesten all tid forsvunnet i å dyrke et lidenskapelig forhold til utvikling og design for web</p>
			</div>
			<div class="small-12 medium-6">
				<p class="lead"><span>Fremover</span> ønsker jeg å lære mer om andre menneskers møte med teknologien jeg selv er med på å utvikle</p>
			</div>
		</div>
	</header>

	<main>
		<div class="grid-block cv">
			<div class="small-12 medium-6 large-6">
				<h3><span>Yrkeserfaring</span></h3>
				<section>
					<dl class="grid-block">
						<dt class="small-2 first"><time datetime="2019">2019</time></dt>
						<dd class="small-10 first">
							<h4>Schibsted Norge SMB</h4>
							<h5>Senior Webutvikler</h5>
							<p>
								Full-stack utvikling av bl.a. Mittanbud.no - utvikling av salgsfremmende verktøy, oppsett og drift av SOLR/Elasticsearch, analyse, landingssider og rapportering vha. f.eks. Craft CMS, serverdrift (CentOS)
							</p>
						</dd>
						<dt class="small-2"><time datetime="2017">2017</time></dt>
						<dd class="small-10">
							<h4>Byte AS</h4>
							<h5>Senior Systemutvikler</h5>
							<p>
								Utvikling, vedlikehold og fotografering for nye og eksisterende kunder i Craft CMS og eZ Publish 4/5
							</p>
						</dd>
						<dt class="small-2"><time datetime="2015">2015</time></dt>
						<dd class="small-10">
							<h4>Aftenposten AS</h4>
							<h5>kommersiell utvikler</h5>
							<p>
								Design, utvikling og vedlikehold av annonse- og publiseringsløsninger, internkursing, teknisk rådgivning, mm.
							</p>
						</dd>
						<dt class="small-2"><time datetime="2012">2012</time></dt>
						<dd class="small-10">
							<h4>Freelance</h4>
							<h5>konsulent</h5>
							<p>
								Utvikling, design og fotografering for Da Vinci Rock Bar, Lamborghini Energy Drink, ScanBike, m.fl.
							</p>
						</dd>
						<dt class="small-2"><time datetime="2012">2012</time></dt>
						<dd class="small-10">
							<h4>Capus HR Management as</h4>
							<h5>konsulent</h5>
							<p>
								Frontend utvikling, design og rådgiving for NKI Nettstudier
							</p>
						</dd>
						<dt class="small-2 last"><time datetime="2012">2012</time></dt>
						<dd class="small-10 last">
							<h4>IXD as</h4>
							<h5>designer / developer</h5>
							<p>
								Frontend design og utvikling, noe implementering. Kursholding og organisering av større fagkonferanser.
							</p>
						</dd>
						<dt class="small-2 detail"><time datetime="2012">11-12</time></dt>
						<dd class="small-10 detail">
							<h4>NKI Nettstudier<span>Utvikling, design, rådgiving</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2011">10-11</time></dt>
						<dd class="small-10 detail">
							<h4>eValg, KRD / Ergo Group<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Terra Gruppen<span>Prototyping, brukertesting</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Sprell.no<span>Design, utvikling, CMS</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Datatilsynet<span>Brukertesting</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Encap<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Lindorff Decision<span>Utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>A-pressen Interaktiv / Zett.no<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Elixia<span>Mobil prototype</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">10</time></dt>
						<dd class="small-10 detail">
							<h4>Storebrand<span>Mobil prototype</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2010">09-10</time></dt>
						<dd class="small-10 detail">
							<h4>Superoffice CRM Online<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2009">09</time></dt>
						<dd class="small-10 detail">
							<h4>Troms Reiseliv<span>Utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2009">09</time></dt>
						<dd class="small-10 detail">
							<h4>Synergi<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2009">09</time></dt>
						<dd class="small-10 detail">
							<h4>Skagen Fondene<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2009">08-09</time></dt>
						<dd class="small-10 detail">
							<h4>Superoffice.com<span>Utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2008">08</time></dt>
						<dd class="small-10 detail">
							<h4>Telenor<span>Design, utvikling</span></h4>
						</dd>
						<dt class="small-2 detail"><time datetime="2008">08</time></dt>
						<dd class="small-10 detail">
							<h4>Canal Digital (no/se/dk/fi)<span>Design, utvikling</span></h4>
						</dd>
					</dl>
				</section>
			</div>
			<div class="small-12 medium-6 large-6">
				<h3><span>Verktøy</span></h3>
				<section class="grid-block align-spaced">
					<div class="small-5">
						<dl class="grid-block">
							<dt class="small-6 last">Adobe</dt>
							<dd class="small-6 last"></dd>
							<dt class="small-6 detail">Dreamweaver</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">Photoshop</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">Lightroom</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">Illustrator</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">Fireworks</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">InDesign</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">Flash</dt>
							<dd class="small-6 detail"><div class="rate-1"></div></dd>
						</dl>
					</div>
					<div class="small-5">
						<dl class="grid-block">
							<dt class="small-6 last">Annet</dt>
							<dd class="small-6 last"></dd>
							<dt class="small-6 detail">Visual Studio</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">Aptana Studio</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">Eclipse</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">Sublime Text</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">Sequel Pro</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">phpMyAdmin</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">SQLyog</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
						</dl>
					</div>
				</section>
				<h3><span>Teknologi</span></h3>
				<section class="grid-block align-spaced">
					<div class="small-5">
						<dl class="grid-block">
							<dt class="small-6 last">Utvikling</dt>
							<dd class="small-6 last"></dd>
							<dt class="small-6 detail">JavaScript</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">jQuery (+UI)</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">Prototype</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">xHTML</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">HTML5</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">HTML5 JSAPI</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">PHP + modules</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">TS / Angular</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">CSS2 / 3</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">LESS / SASS</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">JSTL / JSP</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">XML / JSON</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">mySQL</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
						</dl>
					</div>
					<div class="small-5">
						<dl class="grid-block">
							<dt class="small-6 last">Konsepter</dt>
							<dd class="small-6 last"></dd>
							<dt class="small-6 detail">Browserquirks</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">WAI / WCAG</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">TDD / BDD</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">Fluid layouts</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
							<dt class="small-6 detail">AJAX async</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">MV* / MVVM</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>

							<dt class="small-6 last">CMS+</dt>
							<dd class="small-6 last"></dd>
							<dt class="small-6 detail">eZ Publish 4/5</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">EPiServer</dt>
							<dd class="small-6 detail"><div class="rate-2"></div></dd>
							<dt class="small-6 detail">WordPress</dt>
							<dd class="small-6 detail"><div class="rate-5"></div></dd>
							<dt class="small-6 detail">Symfony</dt>
							<dd class="small-6 detail"><div class="rate-3"></div></dd>
							<dt class="small-6 detail">Craft</dt>
							<dd class="small-6 detail"><div class="rate-4"></div></dd>
						</dl>
					</div>
				</section>
				<h3><span>Verv / annet</span></h3>
				<section>
					<ul>
						<li><h4>Inferno Metal Festival<span>Fotoansvarlig</span></h4></li>
						<li><h4>ElektroStat Festival<span>Lederstab / arrangør</span></h4></li>
						<li><h4>NOAH - for dyrs rettigheter<span>Rigger / fotograf</span></h4></li>
						<li><h4>Norsk Rockforbund<span>Arrangørrepresentant</span></h4></li>
						<li><h4>Oslo International Rumi Festival<span>Frivillig / fotograf</span></h4></li>
						<li><h4>Førstegangstjeneste<span>Luftforsvaret 1999-2000</span></h4></li>
					</ul>
				</section>
				<h3><span>Utdanning</span></h3>
				<section>
					<dl class="grid-block">
						<dt class="small-2"><time datetime="1998">1998</time></dt>
						<dd class="small-10">
							<h4>TF1-2 Elektronikk</h4>
							<h5>Rælingen Tekniske Fagskole</h5>
							<p>
								Telekommunikasjon, elektronikk, elektroteknikk, hovedfag mikroprosessorteknikk, allmenne fag.
							</p>
						</dd>
						<dt class="small-2"><time datetime="1996">1996</time></dt>
						<dd class="small-10">
							<h4>VK1 Elektronikk</h4>
							<h5>Rælingen Videregående Skole</h5>
							<p>
								Telekommunikasjon, signalbehandling, serviceteknikk, allmenne fag.
							</p>
						</dd>
						<dt class="small-2 last"><time datetime="1995">1995</time></dt>
						<dd class="small-10 last">
							<h4>GK Elektro</h4>
							<h5>Rælingen Videregående Skole</h5>
						</dd>
						<dt class="small-2 detail"><time datetime="1994">94</time></dt>
						<dd class="small-10 detail">
							<p>
								Bygningsinstallasjoner, PLS industrisystemer, allmenne fag.
							</p>
						</dd>
					</dl>
				</section>
			</div>
		</div>
	</main>
</div>
